<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" http-equiv="Content-Type" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<title发热电缆设计软件</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/plug-in.js"></script>
	<script src="js/assemble.js"></script>
	<style type="text/css">

		body {
			font-family:Microsoft YaHei,SimSun,SimHei,Arial,Times New Roman;
			text-align: center;
			background: #f1f1f1;
		}
		.title{
			line-height:50px; 
			border-radius: 5px;
			border:.1rem solid #b5b5b5;
			height:600px;
			width: 800px;
			margin-right: auto;
			background:linear-gradient(#fff,#ebebeb);
		}
		.bgdiv{
			width: 800px;
			height:1000px;
			margin-right: auto;
			margin-left: auto;
			background:#f1f1f1;
		}
		img{
			width:790px;
			height:590px;
			margin: 5px 5px 5px 5px;
		}
	.form{width: 700px;height: auto; overflow:hidden;font-size: 16px;color: #1b1b1b;text-align: left; padding:50px; border:1px solid #ccc; border-radius:10px;}
	.form div{padding:5px 0;overflow: hidden;}
	.form  label{width: 90px;display: block;float: left;}
	.form .infos{width:272px;height: 26px;line-height: 26px;border:1px solid #BFBFBF;padding:2px;border-radius:4px;float: left;}
	.form .code{width:80px;height: 26px;line-height: 26px;border:1px solid #BFBFBF;padding:2px;border-radius:4px;float: left;}
	.form .div-phone a.send1{height: 26px;text-decoration:none;line-height: 26px;padding:2px;width: 80px;background: #AA8926;font-family: '宋体';color: #fff;font-size: 12px;text-align: center;display: block;float: left;border-radius:2px;margin-left:2px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
	.form .div-phone a.send1:hover{text-decoration: none;background: #866c1b;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
	.form .div-phone a.send0{height: 26px;text-decoration:none;line-height: 26px;padding:2px;width: 80px;background: #A1A1A1;font-family: '宋体';color: #fff;font-size: 12px;text-align: center;display: block;float: left;border-radius:2px;margin-left:2px;}
	.form .div-phone a.send0:hover{background: #A1A1A1;font-family: '宋体';color: #fff;font-size: 12px;text-decoration: none;}
	.form .div-button a.send1{height: 26px;text-decoration:none;line-height: 26px;padding:2px;width: 80px;background: #049FF1;font-family: '宋体';color: #fff;font-size: 12px;text-align: center;display: block;float: left;border-radius:2px;margin-left:2px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
	.form .div-button a.send1:hover{text-decoration: none;background: #044770;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
	.form .div-button a.send0{height: 26px;text-decoration:none;line-height: 26px;padding:2px;width: 80px;background: #A1A1A1;font-family: '宋体';color: #fff;font-size: 12px;text-align: center;display: block;float: left;border-radius:2px;margin-left:2px;}
	.form .div-button a.send0:hover{background: #A1A1A1;font-family: '宋体';color: #fff;font-size: 12px;text-decoration: none;}
	.form span.error{height: 26px;line-height: 26px;padding:2px;width: 100px;color: red;padding-left:20px;display: block;float: left;margin-left:10px;font-size: 12px;font-family: '宋体';background: url(images/error.png) no-repeat left center;}
	.form .div-conform{padding-right:153px;}
	.form .div-conform a.conform{width: 136px;height: 34px;display: block;text-align: left;overflow: hidden;background: url(images/btn.jpg) no-repeat;float: right;text-indent: -1000px;}
	.form button{
			margin-left:14px;
			text-decoration:none;
			padding-left: 0px;
			border:1px solid blue;
			width:80px;
			height:30px;
			float:top;
			background: #999; /* for non-css3 browsers */
			background: linear-gradient(#ffffff, #ebebeb);
			text-align: center;
			line-height:30px;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 )}
	.form img{
		width:90px;height:30px;float:left;float:left;margin-left:10px;
	}
	
	</style>
	<script type="text/javascript">
	  function changeImg() {
	    var imgSrc = $("#imgObj");
	    var src = imgSrc.attr("src");
	    imgSrc.attr("src", chgUrl(src));
	  }
	  //时间戳   
	  //为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳   
	  function chgUrl(url) {
	    var timestamp = (new Date()).valueOf();
	    url = url.substring(0, 17);
	    if ((url.indexOf("&") >= 0)) {
	      url = url + "×tamp=" + timestamp;
	    } else {
	      url = url + "?timestamp=" + timestamp;
	    }
	    return url;
	  }
	function showGuest(){
		$('#member').hide();
		$('#guset').show();
		
	}
	function showMember(){
		$('#guset').hide()
		$('#member').show();
	}
	
	
	function showpwd(){
		$('#imgCode').val("");
		$('#code').val("");
		$("#userReg").hide();
		$("#codeLogin").hide();
		$("#login").fadeTo(200, 200);
		$("#pwdLogin").fadeTo(200, 200);
	}
	function showcode(){
		changeImg('imgObj');
		$('#pwd').val("");
		$("#userReg").hide();
		$("#pwdLogin").hide();
		$("#login").fadeTo(200, 200);
		$("#codeLogin").fadeTo(200, 200);
	}
	
var sends = {
		checked:1,
		send:function(){
				var time = 30;
				var numbers = /^1\d{10}$/;
				var val = $('#phone').val().replace(/\s+/g,""); //获取输入手机号码
				if($('.div-phone').find('span').length == 0 && $('.div-button a').attr('class') == 'send1'){
					if(!numbers.test(val) || val.length ==0){
						$('.div-phone').append('<span class="error">手机格式错误</span>');
						return false;
					}
				}
				if($('.div-button').find('span').length == 0 && $('.div-button a').attr('class') == 'send1'){
					if($("#imgCode").val() == ""){
						$('.div-button').append('<span class="error">请输入图片验证码</span>');
						return false;
					}
				}
				if($("#imgCode").val() != ""){
						$('.div-button span').remove();
				}
				if(numbers.test(val) &&  $("#imgCode").val() != ""){
					$('.div-phone span').remove();
					function timeCountDown(){
						if(time==0){
							clearInterval(timer);
							$('.div-button a').addClass('send1').removeClass('send0').html("发送验证码");
							sends.checked = 1;
							$("#smsa").attr("onclick","sends.send();");
							return true;
						}
						$('.div-button a').html(time+"S后再次发送");
						time--;
						return false;
						sends.checked = 0;
					}
					$('#smsa').removeAttr("onclick");
					$('.div-button a').addClass('send0').removeClass('send1');
					timeCountDown();
					var timer = setInterval(timeCountDown,1000);
					$.ajax({
					     type: "POST",
					     url: "smsCode.htm",
					     data: {"phone":$("#phone").val(),"code":$("#imgCode").val()},
					     dataType: "json",
					     success: function(result){
				     		if(result.succ){
				     			changeImg('imgObj')
				     		}else{
				     			time=0;
				     			alert(result.msg);
				     		}
					     }
				     });
				}
		}
	}
	
	function userReg(){
		$.ajax({
		     type: "POST",
		     url: "userReg.htm",
		     data: {"phone":$("#phone").val(),"code":$('#code').val()},
		     dataType: "json",
		     success: function(result){
		     	if(result.succ){
					 getSolutionPDF();
		     	}else{
					alert(result.msg);
		     	}
		     }
	     });
	}	
	
	function getSolutionPDF(){
		$.ajax({
		     type: "POST",
		     url: "getSolutionPDF.htm",
		     data: {"house_id":"${house_id}","solution_name":$("#solution_name").val(),"company":$('#company').val(),"author":$('#author').val()},
		     dataType: "json",
		     success: function(result){
		     	if(result.succ){
		     		location.href="downpdf.htm?filename="+result.result;
		     		alert("设计已完成，点击确认回到主页");
		     		location.href="index.htm";
		     		
		     	}else{
		     		alert(result.msg);
		     	}
		     }
	     });
	}
				
	</script>
	 
</head>
<body>
<div class="bgdiv">
<h2>发热电缆设计软件</h2>
<div class="title"><img src="${HousePic}"></img></div>

<div class="form">
	<div id="guset">
		<h3> 方案下载  </h3>
		<div class="div-phone">
			<label for="phone">手机</label><input type="text"  value="$!{phone}" id="phone" class="infos" placeholder="请输入手机" />
		</div>
		<!-- <div class="div-ranks">
				<label for="ranks">短信验证码</label><input type="text" id="code" class="infos" placeholder="短信验证码"  />
		</div>
		<div class="div-button">
			<label for="phone">验证码</label><input type="text" id="imgCode" class="code" placeholder="图片验证码" />
			<img id="imgObj"  onclick="changeImg('imgObj')" alt="验证码" src="code.htm" />
			<a href="javascript:;" class="send1" id="smsa" onclick="sends.send();">发送验证码</a>
		</div> -->	
		<div class="div-sulution">
			<label for="phone">方案名</label><input type="text" id="solution_name" class="infos" placeholder="请输入方案名称" />
		</div>
		<div class="div-company">
			<label for="phone">设计公司</label><input type="text" id="company" value="$!{UserInfo.company}"  class="infos" placeholder="请输入设计公司" />
		</div>
		<div class="div-author">
			<label for="phone">设计员</label><input type="text" id="author" value="$!{UserInfo.user_name}" class="infos" placeholder="请输入设计员名称" />
		</div>
		<div  class="div-conform">
			<button onclick="userReg()">下载文档</button>
		</div>
	</div>
</div>
</body>